#### Table of Contents
1. [Introduction](#birds-around-my-area-ðŸ•Š)
2. [Constructing the data pipeline](#constructing-the-data-pipeline)

# Birds Around My Area ðŸ•Š
This notebook is an exploratory analysis on bird data provided by Cornell's public eBird API. 

The following steps are taken to construct the data pipeline:
1. list
2. the steps
3. here
4. until done

Pandas and matplotlib are used to further aid in data visualization.

## Constructing the data pipeline

### Get region codes and coordinates using geopy and the FCC Area API
We'll be looking at bird data from Los Angeles.

In order to get the correct regionCode for Los Angeles, we take the following steps:
1. Use the geopy Python library to convert a given location name to it's latidunal and longitdunal coordinates.
2. Use the [FCC Area API](https://geo.fcc.gov/api/census/) to convert coordinates to region codes.
    - Note, eBird region codes follow [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes) guidelines.

In [141]:
from encodings.utf_8 import getregentry
import requests
import json
from geopy import geocoders

def getLatLong(location):
    """Fetches latitude and longitude of an area.
    
    Args:
        location (str): The location
    Returns:
        tuple: A tuple (lat, long) of the location
        
    """
    geolocator = geocoders.Nominatim(user_agent="Geo Locate")
    location = geolocator.geocode(location)
    
    return ((location.latitude, location.longitude))
    

def getRegionCode(lat, long):
    """Fetches eBird regionCode using municipal census API
    
    Args:
        lat (float): latitude
        long (float): longitude 
    Returns: 
        str: regionCode
    
    """
    
    # Use FCC Area API that is publicly available to get codes for a given coordinate
    censusUrl = str('https://geo.fcc.gov/api/census/area?lat=' + 
                    str(lat) +
                    '&lon=' +
                    str(long) +
                    '&format=json')
    
    # Sending out a GET request
    get = requests.request('GET', censusUrl, data={})
    
    # Parse the response. All API values are contained in the 'results' list
    response = json.loads(get.content)['results'][0]
    
    # regionCode follows ISO 3166-2 guidelines. Each complete code consists of two parts:
    # 1. The ISO 3166-1 alpha-2 code of the country.
    # 2. A string of up to three alphanumeric characters, obtained from already existing codes for countries. Since we'll be looking at bird data in the US, we use the in-state FIPS code.
    fips = response['county_fips']
    regionCode = 'US-' + response['state_code'] + '-' + fips[2] + fips[3] + fips[4]
    
    return regionCode
    
lat_long = getLatLong('Angeles National Forest Los Angeles')
regionCode = getRegionCode(lat_long[0], lat_long[1])

### Connecting to the eBird API to get bird data in JSON format
Note: Python wrapper [ebird-api](https://pypi.org/project/ebird-api/) must be downloaded. Documentation for eBird API and instructions on how to sign up for a key can be found [here](https://documenter.getpostman.com/view/664302/S1ENwy59#4e020bc2-fc67-4fb6-a926-570cedefcc34)

Equipped with our regionCode, we can now search for bird data by region. We can also use function getLatLong() to obtain coordinates for a given region.

In [142]:
from ebird.api import get_observations
import csv
import pandas as pd
import datetime as dt

API_KEY = 'b0e60cbbp1n6'

def getWeeklyBirdData(regionCode):
    """Fetches weekly bird data by calling a GET request from eBird API and converts the request to a CSV
    
    Args:
        regionCode (str): region code for a given location
    Returns:
        DataFrame: DataFrame of the bird data if needed
        
    """
    
    # Get observations from Los Angeles for the past week:
    records = get_observations(API_KEY, regionCode, back=7)
    df = pd.DataFrame(records)
    df.to_csv(getName())
    
    return df
    
def getName():
    """Gets name for bird data file. Has the following structure:
    bird_data + CURRENT_YEAR + WEEK_NUM, where
    WEEK_NUM = the week number of the current day in which the function is being run
    
    Returns:
        String: the data file name
        
    """
    today = dt.date.today()
    week_ago = today - dt.timedelta(days=7)
    
    res = 'bird_data_' + str(week_ago) + '_' + str(today) + '.csv'
    
    return res

dfBird = getWeeklyBirdData(regionCode)

,speciesCode,comName,sciName,locId,locName,obsDt,howMany,lat,lng,obsValid,obsReviewed,locationPrivate,subId
0,cowscj1,California Scrub-Jay,Aphelocoma californica,L16598980,Wattles Garden Park,2022-08-24 08:37,1.0,34.105140,-118.354776,True,False,False,S117490254
1,caltow,California Towhee,Melozone crissalis,L16598980,Wattles Garden Park,2022-08-24 08:37,2.0,34.105140,-118.354776,True,False,False,S117490254
2,moudov,Mourning Dove,Zenaida macroura,L16598980,Wattles Garden Park,2022-08-24 08:37,1.0,34.105140,-118.354776,True,False,False,S117490254
3,normoc,Northern Mockingbird,Mimus polyglottos,L16598980,Wattles Garden Park,2022-08-24 08:37,4.0,34.105140,-118.354776,True,False,False,S117490254
4,rethaw,Red-tailed Hawk,Buteo jamaicensis,L16598980,Wattles Garden Park,2022-08-24 08:37,1.0,34.105140,-118.354776,True,False,False,S117490254
...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,pomjae,Pomarine Jaeger,Stercorarius pomarinus,L597658,Malibu Lagoon--State Beach including Lagoon,2022-08-19 08:52,2.0,34.033386,-118.682299,True,False,False,S117219689
229,wooduc,Wood Duck,Aix sponsa,L9763951,Los Angeles River -- Marsh Park vic,2022-08-19 08:50,1.0,34.107801,-118.246748,True,False,True,S117224728
230,indbun,Indigo Bunting,Passerina cyanea,L152149,Bette Davis Picnic Area,2022-08-19 08:15,1.0,34.157684,-118.297862,True,True,False,S117216695
231,baleag,Bald Eagle,Haliaeetus leucocephalus,L1608213,San Gabriel Canyon Rd.--below East Fork Rd.,2022-08-19 08:00,1.0,34.217306,-117.857784,True,False,False,S117217594
232,norpin,Northern Pintail,Anas acuta,L597658,Malibu Lagoon--State Beach including Lagoon,2022-08-18 10:01,1.0,34.033386,-118.682299,True,False,False,S117245112

## Connecting to an existing S3 bucket and storing csv files in them
Using Python library Boto3 we connect to AWS S3. We'll be storing csv files to the *birds-around-my-area* bucket.

In [80]:
import boto3
import os, glob

def storeToBucket(csvFile, bucket_name):
    """Stores csv file to the specified bucket
    
    Args:
        csvFile (str): name of the csv file
        bucket_name (str): name of the S3 bucket to connect and store data to

    """
    # Creating the connection
    session = boto3.Session(profile_name='default')
    s3 = session.resource('s3')

    # Storing data
    s3_object = s3.Object(bucket_name, csvFile).put(Body=open(csvFile, 'rb'))

    # Delete .csv in local folder
    os.remove(csvFile)
    
    print(csvFile + ' successfully uploaded to ' + bucket_name)
    
storeToBucket(getName(), 'birds-around-my-area')

bird_data_2022-08-16_2022-08-23.csv successfully uploaded to birds-around-my-area

## Creating an Aurora MySQL database using AWS RDS

In [126]:
import pandas as pd
import pymysql

host="ebird-data.cluster-cjhrqfsqr72t.us-west-1.rds.amazonaws.com"
port=3306
dbname="ebirddata"
user="admin"
password="RHgNGm1QyVP0gQG0tItc"

db = pymysql.connect(host=host, user=user,port=port,
                           passwd=password, db=dbname)

cursor = db.cursor()

## Create table birds in the database

In [136]:
import csv

sqlCreateTable = """CREATE TABLE birds (
  indexNum int(11) DEFAULT NULL,
  speciesCode varchar(20) NOT NULL,
  comName varchar(100) DEFAULT NULL,
  sciName varchar(100) DEFAULT NULL,
  locId varchar(20) NOT NULL,
  locName varchar(100) DEFAULT NULL,
  obsDt date DEFAULT NULL,
  howMany int(11) DEFAULT NULL,
  lat double DEFAULT NULL,
  lng double DEFAULT NULL,
  obsValid tinyint(1) DEFAULT NULL,
  obsReviewed tinyint(1) DEFAULT NULL,
  locationPrivate tinyint(1) DEFAULT NULL,
  subId varchar(20) DEFAULT NULL,
  PRIMARY KEY (speciesCode,locId)
);
"""

cursor.execute(sqlCreateTable)

0

## LOAD DATA INTO table using S3

In [139]:
sqlLoadQuery = """LOAD DATA FROM S3 's3://birds-around-my-area/bird_data_2022-08-16_2022-08-23.csv'
INTO TABLE birds
FIELDS TERMINATED BY ',';
"""
cursor.execute(sqlLoadQuery)

IntegrityError: (1062, "Duplicate entry 'specie' for key 'PRIMARY'")

In [138]:
query1 = """SELECT *
FROM birds
WHERE obsValid=true;
"""

cursor.execute('select * from birds')
print(cursor.fetchall())

((65, 'acowoo', 'Acorn Woodpecker', 'Melanerpes formicivo', 'L1575401', 'Scripps College', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (4, 'allhum', "Allen's Hummingbird", 'Selasphorus sasin', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 2, 34, -118, 'True'), (156, 'ameavo', 'American Avocet', 'Recurvirostra americ', 'L4861223', 'Los Angeles River--1', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (1, 'amecro', 'American Crow', 'Corvus brachyrhyncho', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 4, 34, -118, 'True'), (72, 'amegfi', 'American Goldfinch', 'Spinus tristis', 'L1118116', 'Wardlow Park', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (100, 'amekes', 'American Kestrel', 'Falco sparverius', 'L11671305', '"Madrona Marsh Prese', 0, Decimal('-118'), Decimal('2022'), 1, 34, -118, 'True'), (39, 'amerob', 'American Robin', 'Turdus migratorius', 'L897615', 'CSU Long Beach', 2022, Decimal('3'), Decimal('34'), -118, 0, 0, 'False'), (146, 'amewig', 'American Wigeon', 'Mareca americana', 'L160935', 'Ballona Freshwater M', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (162, 'amwpel', 'American White Pelican', 'Pelecanus erythrorhy', 'L191975', 'Almansor Park', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (26, 'annhum', "Anna's Hummingbird", 'Calypte anna', 'L160935', 'Ballona Freshwater M', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (31, 'astfly', 'Ash-throated Flycatcher', 'Myiarchus cinerascen', 'L160935', 'Ballona Freshwater M', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (158, 'baisan', "Baird's Sandpiper", 'Calidris bairdii', 'L2376387', 'Los Angeles River--G', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (227, 'baleag', 'Bald Eagle', 'Haliaeetus leucoceph', 'L1608213', 'San Gabriel Canyon R', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (17, 'banswa', 'Bank Swallow', 'Riparia riparia', 'L19377651', 'Sequit Creek', 2022, Decimal('5'), Decimal('34'), -119, 0, 0, 'True'), (30, 'barswa', 'Barn Swallow', 'Hirundo rustica', 'L160935', 'Ballona Freshwater M', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (47, 'batpig', 'Band-tailed Pigeon', 'Patagioenas fasciata', 'L13317766', '"625 Fair Oaks Ave', 0, Decimal('-118'), Decimal('2022'), 2, 34, -118, 'True'), (123, 'bcnher', 'Black-crowned Night-Heron', 'Nycticorax nycticora', 'L4415612', "Sim's Pond Bio Prese", 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (98, 'belkin', 'Belted Kingfisher', 'Megaceryle alcyon', 'L152149', 'Bette Davis Picnic A', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (131, 'belspa', "Bell's Sparrow", 'Artemisiospiza belli', 'L8186268', 'Juniper Hills--Farne', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'True'), (118, 'belvir', "Bell's Vireo", 'Vireo bellii', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (18, 'bewwre', "Bewick's Wren", 'Thryomanes bewickii', 'L19377651', 'Sequit Creek', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'True'), (161, 'bkbplo', 'Black-bellied Plover', 'Pluvialis squatarola', 'L597658', 'Malibu Lagoon--State', 2022, Decimal('60'), Decimal('34'), -119, 0, 0, 'False'), (125, 'bkchum', 'Black-chinned Hummingbird', 'Archilochus alexandr', 'L6566735', '"Backyard 2505 Canyo', 0, Decimal('-118'), Decimal('2022'), 2, 34, -118, 'True'), (50, 'bkhgro', 'Black-headed Grosbeak', 'Pheucticus melanocep', 'L5110379', 'Harvey Mudd College', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (197, 'bkhpar', 'Nanday Parakeet', 'Aratinga nenday', 'L659718', 'Bonsall/Zuma Canyon', 2022, Decimal('5'), Decimal('34'), -119, 0, 0, 'False'), (82, 'bknsti', 'Black-necked Stilt', 'Himantopus mexicanus', 'L768273', 'Los Angeles River--S', 2022, Decimal('3'), Decimal('34'), -118, 0, 0, 'False'), (207, 'bkspet', 'Black Storm-Petrel', 'Hydrobates melania', 'L966918', '"Santa Catalina Chan', 0, Decimal('2022'), Decimal('6'), 34, -118, 0, 'False'), (129, 'bktspa', 'Black-throated Sparrow', 'Amphispiza bilineata', 'L8186268', 'Juniper Hills--Farne', 2022, Decimal('8'), Decimal('34'), -118, 0, 0, 'True'), (79, 'bkvshe', 'Black-vented Shearwater', 'Puffinus opisthomela', 'L20651639', '"California', 0, Decimal('-118'), Decimal('2022'), 1, 33, -118, 'True'), (92, 'blkoys', 'Black Oystercatcher', 'Haematopus bachmani', 'L13303655', '"Royal Palms State B', 0, Decimal('-118'), Decimal('2022'), 3, 34, -118, 'True'), (6, 'blkpho', 'Black Phoebe', 'Sayornis nigricans', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 1, 34, -118, 'True'), (205, 'blkski', 'Black Skimmer', 'Rynchops niger', 'L4398071', '"San Gabriel River M', 0, Decimal('2022'), Decimal('4'), 34, -118, 0, 'False'), (167, 'blkter', 'Black Tern', 'Chlidonias niger', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('1'), Decimal('35'), -118, 0, 0, 'False'), (93, 'blktur', 'Black Turnstone', 'Arenaria melanocepha', 'L13303655', '"Royal Palms State B', 0, Decimal('-118'), Decimal('2022'), 18, 34, -118, 'True'), (149, 'blugrb', 'Blue Grosbeak', 'Passerina caerulea', 'L305422', 'Malibu Creek SP', 2022, Decimal('2'), Decimal('34'), -119, 0, 0, 'False'), (59, 'bnhcow', 'Brown-headed Cowbird', 'Molothrus ater', 'L759098', 'Pepperdine Universit', 2022, Decimal('78'), Decimal('34'), -119, 0, 0, 'False'), (183, 'bracor', "Brandt's Cormorant", 'Urile penicillatus', 'L473549', 'Zuma Beach and Lagoo', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (52, 'brebla', "Brewer's Blackbird", 'Euphagus cyanocephal', 'L619767', 'Echo Park', 2022, Decimal('30'), Decimal('34'), -118, 0, 0, 'False'), (196, 'brespa', "Brewer's Sparrow", 'Spizella breweri', 'L1563110', 'Stephen Sorensen Par', 2022, Decimal('2'), Decimal('35'), -118, 0, 0, 'False'), (141, 'brnowl', 'Barn Owl', 'Tyto alba', 'L4828238', 'Long Beach Residence', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'True'), (94, 'brnpel', 'Brown Pelican', 'Pelecanus occidental', 'L13303655', '"Royal Palms State B', 0, Decimal('-118'), Decimal('2022'), 5, 34, -118, 'True'), (73, 'btywar', 'Black-throated Gray Warbler', 'Setophaga nigrescens', 'L228765', 'Grassy Hollow', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (194, 'buffle', 'Bufflehead', 'Bucephala albeola', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('1'), Decimal('35'), -118, 0, 0, 'False'), (49, 'buggna', 'Blue-gray Gnatcatcher', 'Polioptila caerulea', 'L5110379', 'Harvey Mudd College', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (128, 'bulori', "Bullock's Oriole", 'Icterus bullockii', 'L152141', 'Sand Dune Park', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (34, 'bushti', 'Bushtit', 'Psaltriparus minimus', 'L160935', 'Ballona Freshwater M', 2022, Decimal('11'), Decimal('34'), -118, 0, 0, 'False'), (136, 'buwtea', 'Blue-winged Teal', 'Spatula discors', 'L2245670', 'Glendale Narrows Riv', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'True'), (134, 'cacwre', 'Cactus Wren', 'Campylorhynchus brun', 'L8186268', 'Juniper Hills--Farne', 2022, Decimal('4'), Decimal('34'), -118, 0, 0, 'True'), (215, 'calgna', 'California Gnatcatcher', 'Polioptila californi', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (116, 'calgul', 'California Gull', 'Larus californicus', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (23, 'calqua', 'California Quail', 'Callipepla californi', 'L19377651', 'Sequit Creek', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'True'), (75, 'calthr', 'California Thrasher', 'Toxostoma redivivum', 'L3364514', '"Home', 0, Decimal('2022'), Decimal('2'), 34, -118, 0, 'False'), (22, 'caltow', 'California Towhee', 'Melozone crissalis', 'L19377651', 'Sequit Creek', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'True'), (51, 'cangoo', 'Canada Goose', 'Branta canadensis', 'L619767', 'Echo Park', 2022, Decimal('14'), Decimal('34'), -118, 0, 0, 'False'), (150, 'canwre', 'Canyon Wren', 'Catherpes mexicanus', 'L305422', 'Malibu Creek SP', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (221, 'casfin', "Cassin's Finch", 'Haemorhous cassinii', 'L548640', 'San Gabriel Mtns.--B', 2022, Decimal('4'), Decimal('34'), -118, 0, 0, 'False'), (12, 'caskin', "Cassin's Kingbird", 'Tyrannus vociferans', 'L2832946', 'UCLA--Central Campus', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (106, 'caster', 'Caspian Tern', 'Hydroprogne caspia', 'L2999551', 'Playa del Rey Beach', 2022, Decimal('7'), Decimal('34'), -118, 0, 0, 'False'), (192, 'chispa', 'Chipping Sparrow', 'Spizella passerina', 'L3646117', 'Whittier Narrows Soc', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (138, 'cintea', 'Cinnamon Teal', 'Spatula cyanoptera', 'L481023', 'Los Angeles River--W', 2022, Decimal('7'), Decimal('34'), -118, 0, 0, 'False'), (113, 'clagre', "Clark's Grebe", 'Aechmophorus clarkii', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('3'), Decimal('34'), -118, 0, 0, 'False'), (185, 'clanut', "Clark's Nutcracker", 'Nucifraga columbiana', 'L746089', 'Angeles NF--Throop P', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (145, 'cliswa', 'Cliff Swallow', 'Petrochelidon pyrrho', 'L732299', 'Hansen Dam', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (112, 'comgal', 'Common Gallinule', 'Gallinula galeata', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (200, 'compoo', 'Common Poorwill', 'Phalaenoptilus nutta', 'L15095295', 'Angeles NF--Los Pine', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (25, 'comrav', 'Common Raven', 'Corvus corax', 'L5213678', 'Fay Yard', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'True'), (211, 'comter', 'Common Tern', 'Sterna hirundo', 'L20082159', 'Avalon Bank', 2022, Decimal('1'), Decimal('33'), -118, 0, 0, 'True'), (83, 'comyel', 'Common Yellowthroat', 'Geothlypis trichas', 'L768273', 'Los Angeles River--S', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (45, 'coohaw', "Cooper's Hawk", 'Accipiter cooperii', 'L3121882', 'Entradero Park', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (102, 'coshum', "Costa's Hummingbird", 'Calypte costae', 'L9091524', '"28903 Dargan Street', 0, Decimal('0'), Decimal('0'), -119, 127, 1, '34.1630938'), (57, 'cowscj', 'California Scrub-Jay', 'Aphelocoma californi', 'L759098', 'Pepperdine Universit', 2022, Decimal('2'), Decimal('34'), -119, 0, 0, 'False'), (19, 'daejun', 'Dark-eyed Junco', 'Junco hyemalis', 'L19377651', 'Sequit Creek', 2022, Decimal('2'), Decimal('34'), -119, 0, 0, 'True'), (38, 'doccor', 'Double-crested Cormorant', 'Nannopterum auritum', 'L160935', 'Ballona Freshwater M', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (99, 'dowwoo', 'Downy Woodpecker', 'Dryobates pubescens', 'L461293', 'Polliwog Park', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (202, 'dusfly', 'Dusky Flycatcher', 'Empidonax oberholser', 'L20625219', 'Santa Clara Truck Tr', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'True'), (170, 'eargre', 'Eared Grebe', 'Podiceps nigricollis', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('2'), Decimal('35'), -118, 0, 0, 'False'), (87, 'egygoo', 'Egyptian Goose', 'Alopochen aegyptiaca', 'L768273', 'Los Angeles River--S', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (127, 'eleter', 'Elegant Tern', 'Thalasseus elegans', 'L673176', 'Golden Shore Marine ', 2022, Decimal('12'), Decimal('34'), -118, 0, 0, 'False'), (53, 'eucdov', 'Eurasian Collared-Dove', 'Streptopelia decaoct', 'L619767', 'Echo Park', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (56, 'eursta', 'European Starling', 'Sturnus vulgaris', 'L619767', 'Echo Park', 2022, Decimal('40'), Decimal('34'), -118, 0, 0, 'False'), (115, 'forter', "Forster's Tern", 'Sterna forsteri', 'L815817', 'Frank G. Bonelli RP/', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (28, 'gadwal', 'Gadwall', 'Mareca strepera', 'L160935', 'Ballona Freshwater M', 2022, Decimal('5'), Decimal('34'), -118, 0, 0, 'False'), (164, 'gnwtea', 'Green-winged Teal', 'Anas crecca', 'L152136', 'Peck Rd. Water Conse', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (35, 'grbher', 'Great Blue Heron', 'Ardea herodias', 'L160935', 'Ballona Freshwater M', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (36, 'greegr', 'Great Egret', 'Ardea alba', 'L160935', 'Ballona Freshwater M', 2022, Decimal('3'), Decimal('34'), -118, 0, 0, 'False'), (168, 'greroa', 'Greater Roadrunner', 'Geococcyx california', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('1'), Decimal('35'), -118, 0, 0, 'False'), (90, 'greyel', 'Greater Yellowlegs', 'Tringa melanoleuca', 'L768273', 'Los Angeles River--S', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (142, 'grhowl', 'Great Horned Owl', 'Bubo virginianus', 'L12793183', 'Home', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'True'), (91, 'grnher', 'Green Heron', 'Butorides virescens', 'L768273', 'Los Angeles River--S', 2022, Decimal('5'), Decimal('34'), -118, 0, 0, 'False'), (55, 'grtgra', 'Great-tailed Grackle', 'Quiscalus mexicanus', 'L619767', 'Echo Park', 2022, Decimal('10'), Decimal('34'), -118, 0, 0, 'False'), (198, 'gwfgoo', 'Greater White-fronted Goose', 'Anser albifrons', 'L382781', 'Legg Lake', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (62, 'haiwoo', 'Hairy Woodpecker', 'Dryobates villosus', 'L466092', 'Jackson Lake', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (95, 'heegul', "Heermann's Gull", 'Larus heermanni', 'L13303655', '"Royal Palms State B', 0, Decimal('-118'), Decimal('2022'), 13, 34, -118, 'True'), (230, 'herwar', 'Hermit Warbler', 'Setophaga occidental', 'L746089', 'Angeles NF--Throop P', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (60, 'hooori', 'Hooded Oriole', 'Icterus cucullatus', 'L759098', 'Pepperdine Universit', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (132, 'horlar', 'Horned Lark', 'Eremophila alpestris', 'L8186268', 'Juniper Hills--Farne', 2022, Decimal('85'), Decimal('34'), -118, 0, 0, 'True'), (5, 'houfin', 'House Finch', 'Haemorhous mexicanus', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 2, 34, -118, 'True'), (3, 'houspa', 'House Sparrow', 'Passer domesticus', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 4, 34, -118, 'True'), (21, 'houwre', 'House Wren', 'Troglodytes aedon', 'L19377651', 'Sequit Creek', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'True'), (66, 'hutvir', "Hutton's Vireo", 'Vireo huttoni', 'L1575401', 'Scripps College', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (226, 'indbun', 'Indigo Bunting', 'Passerina cyanea', 'L152149', 'Bette Davis Picnic A', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (58, 'killde', 'Killdeer', 'Charadrius vociferus', 'L759098', 'Pepperdine Universit', 2022, Decimal('2'), Decimal('34'), -119, 0, 0, 'False'), (209, 'laaphe', "Lady Amherst's Pheasant", 'Chrysolophus amherst', 'L614590', 'El Dorado Regional P', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (130, 'labwoo', 'Ladder-backed Woodpecker', 'Dryobates scalaris', 'L8186268', 'Juniper Hills--Farne', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'True'), (69, 'larspa', 'Lark Sparrow', 'Chondestes grammacus', 'L5167843', 'Limekiln Canyon Park', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (119, 'lawgol', "Lawrence's Goldfinch", 'Spinus lawrencei', 'L152134', 'Chilao--Visitor Cent', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (89, 'lazbun', 'Lazuli Bunting', 'Passerina amoena', 'L768273', 'Los Angeles River--S', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (88, 'leasan', 'Least Sandpiper', 'Calidris minutilla', 'L768273', 'Los Angeles River--S', 2022, Decimal('12'), Decimal('34'), -118, 0, 0, 'False'), (187, 'leater', 'Least Tern', 'Sternula antillarum', 'L597658', 'Malibu Lagoon--State', 2022, Decimal('20'), Decimal('34'), -119, 0, 0, 'False'), (0, 'lesgol', 'Lesser Goldfinch', 'Spinus psaltria', 'L2832946', 'UCLA--Central Campus', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (216, 'lesnig', 'Lesser Nighthawk', 'Chordeiles acutipenn', 'L597658', 'Malibu Lagoon--State', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (111, 'lessca', 'Lesser Scaup', 'Aythya affinis', 'L152149', 'Bette Davis Picnic A', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (109, 'lesyel', 'Lesser Yellowlegs', 'Tringa flavipes', 'L2376387', 'Los Angeles River--G', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (203, 'licpar', 'Lilac-crowned Parrot', 'Amazona finschi', 'L4379069', 'Home', 2022, Decimal('40'), Decimal('34'), -118, 0, 0, 'True'), (107, 'lobcur', 'Long-billed Curlew', 'Numenius americanus', 'L2999551', 'Playa del Rey Beach', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (139, 'lobdow', 'Long-billed Dowitcher', 'Limnodromus scolopac', 'L481023', 'Los Angeles River--W', 2022, Decimal('60'), Decimal('34'), -118, 0, 0, 'False'), (85, 'logshr', 'Loggerhead Shrike', 'Lanius ludovicianus', 'L768273', 'Los Angeles River--S', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (212, 'macwar', "MacGillivray's Warbler", 'Geothlypis tolmiei', 'L1563110', 'Stephen Sorensen Par', 2022, Decimal('1'), Decimal('35'), -118, 0, 0, 'False'), (32, 'mallar', 'Mallard', 'Anas platyrhynchos', 'L160935', 'Ballona Freshwater M', 2022, Decimal('13'), Decimal('34'), -118, 0, 0, 'False'), (108, 'margod', 'Marbled Godwit', 'Limosa fedoa', 'L2999551', 'Playa del Rey Beach', 2022, Decimal('16'), Decimal('34'), -118, 0, 0, 'False'), (171, 'marwre', 'Marsh Wren', 'Cistothorus palustri', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('4'), Decimal('35'), -118, 0, 0, 'False'), (2, 'mitpar', 'Mitred Parakeet', 'Psittacara mitratus', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 8, 34, -118, 'True'), (64, 'mouchi', 'Mountain Chickadee', 'Poecile gambeli', 'L466092', 'Jackson Lake', 2022, Decimal('6'), Decimal('34'), -118, 0, 0, 'False'), (7, 'moudov', 'Mourning Dove', 'Zenaida macroura', 'L13927913', '"2454 Glencoe Ave', 0, Decimal('-118'), Decimal('2022'), 1, 34, -118, 'True'), (229, 'mouqua', 'Mountain Quail', 'Oreortyx pictus', 'L746089', 'Angeles NF--Throop P', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (220, 'naswar', 'Nashville Warbler', 'Leiothlypis ruficapi', 'L548640', 'San Gabriel Mtns.--B', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (204, 'neocor', 'Neotropic Cormorant', 'Nannopterum brasilia', 'L194688', 'Sepulveda Basin--Eas', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (182, 'norfli', 'Northern Flicker', 'Colaptes auratus', 'L741222', 'Angeles NF--Table Mt', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (169, 'norhar', 'Northern Harrier', 'Circus hudsonius', 'L275227', 'Piute Ponds (permit ', 2022, Decimal('1'), Decimal('35'), -118, 0, 0, 'False'), (14, 'normoc', 'Northern Mockingbird', 'Mimus polyglottos', 'L2832946', 'UCLA--Central Campus', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (228, 'norpin', 'Northern Pintail', 'Anas acuta', 'L597658', 'Malibu Lagoon--State', 2022, Decimal('1'), Decimal('34'), -119, 0, 0, 'False'), (165, 'norsho', 'Northern Shoveler', 'Spatula clypeata', 'L152136', 'Peck Rd. Water Conse', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (137, 'nrwswa', 'Northern Rough-winged Swallow', 'Stelgidopteryx serri', 'L2245670', 'Glendale Narrows Riv', 2022, Decimal('5'), Decimal('34'), -118, 0, 0, 'True'), (27, 'nutman', 'Scaly-breasted Munia', 'Lonchura punctulata', 'L160935', 'Ballona Freshwater M', 2022, Decimal('2'), Decimal('34'), -118, 0, 0, 'False'), (13, 'nutwoo', "Nuttall's Woodpecker", 'Dryobates nuttallii', 'L2832946', 'UCLA--Central Campus', 2022, Decimal('1'), Decimal('34'), -118, 0, 0, 'False'), (70, 'oaktit', 'Oak Titmouse', 'Baeolophus inornatus', 'L3148923', 'Grand Avenue Park'

In [140]:
db.close()